* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow-x:hidden;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    color: rgb(28, 155, 234);
    padding: 15px;
    z-index: 100;
}
.equipo{
    background:url("2.png") no-repeat;
    background-size: cover;
}
.proyectos{

        background:url("3.png") no-repeat;
        background-size: cover;
    
}
.contacto{
 
        background:url("4.png") no-repeat;
        background-size: cover;
    
}
.principal{
    background:url("bg.png") no-repeat;
    background-size:cover;
}
.full-screen-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button, div {
    margin: 10px;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, div:hover {
    background-color: #777;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
